.min-h-screen{
    min-height: 100vh;
}

.bg-red{
    background: red;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}

.item-center{
    align-items: center;

}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.font-bold{
    font-weight: bold;
}

.flex-col{
    flex-direction: column;
}

.my-1{
    margin-top: 13px;
    margin-bottom: 13px;
}

.my-2{
    margin-top: 26px;
    margin-bottom: 26px;
}

.px-2{
    padding-left: 13px;
    padding-bottom: 13px;
}

.text-blue{ 
    color: rgb(52, 52, 63);
}

.btn{
    padding: 6px 12px;
    border: 2px none;
    color: white;
    cursor: pointer;
    border-radius: 7px;
    background-color: rgb(62, 62, 78);
}

.overflow-x-hidden{
    overflow-x: hidden;
}

.text-center{
    text-align: center;
}